*.log
dist/
build/
.build/
DerivedData/
*.app/
*.dmg
*.pkg
*.deb
*.rpm
*.AppImage
*.apk
*.aab
*.ipa
*.xcarchive
*.keystore
*.jks
generated/
stellar-mobile/generated/mobile/android/.gradle/
stellar-mobile/generated/mobile/android/app/build/
stellar-mobile/generated/mobile/ios/*.xcodeproj/
stellar-mobile/generated/mobile/ios/build/
