dmarc_policy=none
dkim_selector=mail
letsencrypt_method=http
keep_plus_tags=false

max_size_quarantine=25M
max_size_approved_default=50M

contacts_dir=/home/pi/contacts

logging=minimal
render_mode=strict
load_external_per_message=true

retry_backoff=1m,5m,15m,1h
smtp_host=127.0.0.1
smtp_port=25
smtp_starttls=true
